@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --preto: #000000;
    --dourado: #D4AF37;
    --dourado2: #FFD700;
    --branco: #fff;
    --cinza-escuro: #36454F;
    --azul-marinho: #001F3F;
    --azul-petroleo: #2F4F4F;
    --estilo-de-letra: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--estilo-de-letra);
}

body {
    background-color: var(--azul-marinho);
    position: relative;
}

#header-desktop {
    padding: 0.8rem;
    background-color: var(--azul-marinho);
    box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.644);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

header > #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > #header-container > a {
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 4rem;
}

header > #header-container > a > img {
    width: 100%;
}

header > #header-container > nav {
    margin-right: 5rem;
}

header > #header-container > nav > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

header > #header-container > nav > ul > li > a {
    text-decoration: none;
    transition: .3s;
    font-weight: bold;
    color: var(--branco);
}

header > #header-container > nav > ul > li > a:hover {
    color: var(--dourado);
}

.hide {
    display: none;
}

header > #header-container > nav > ul > li > a.ativar {
    color: var(--dourado);
}

.cor-branco {
    color:#fff;
}

main {
    width: 100%;
}

main > .img-fundo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.411)), url("../img/imagem6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 33rem;
    position: relative;
}

main > .img-fundo > #campo-titulo {
    position: absolute;
    top: 10rem;
    left: 6rem;
}

main > .img-fundo > #campo-titulo > h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--dourado);
    margin-bottom: 1.7rem;
}

main > .img-fundo > #campo-titulo > p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dourado);
    width: 40rem;
}

main > .container-artigo {
    display: flex;
    justify-content: space-around;
    margin: 6rem auto 6rem auto;
    width: 90%;
    gap: 2rem;
}

main > .container-artigo > #artigo-campo {
    width: 37rem;
    height: 20rem;
    background-color: #fff;
}

main > .container-artigo > #artigo-campo > img {
    width: 10px;
    width: 37rem;
    height: 20rem;
    object-fit: cover;
}

main > .container-artigo > #artigo-conteudo {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

main > .container-artigo > #artigo-conteudo > h3 {
    color: var(--branco);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main > .container-artigo > #artigo-conteudo > article {
    color: var(--branco);
    font-size: 1.1rem;
    line-height: 2em;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 1rem;
}

main > .container-artigo > #artigo-conteudo > article > strong {
    color: var(--dourado);
}

main > .container-artigo > #artigo-conteudo > button {
    padding: 0.6rem;
    border-radius: 0.6rem;
    background-color: var(--dourado2);
    border: none;
    font-weight: bolder;
    color: #2F4F4F;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
    width: 15rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.212);
}

main > .container-artigo > #artigo-conteudo > button:hover {
    background-color: var(--dourado);
}

main > .sobre-nos {
    width: 100%;
    padding: 0 1.5rem 0 4rem;
    margin-bottom: 2rem;
}

main > .sobre-nos > h2 {
    color: var(--dourado2);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

main > .sobre-nos > article > p {
    color: var(--branco);
    line-height: 2em;
    text-align: justify;
    font-weight: 400;
}

main > .servico-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.7rem;
}

main > .servico-container > h3 {
    color: var(--dourado2);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.3rem;
}

main > .servico-container > #servicos {
    width: 90%;
    padding: 1rem;
}

main > .servico-container > #servicos > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

main > .servico-container > #servicos > ul > li {
    height: 16rem;
    width: 16rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.7rem;
    border: 0.18rem solid var(--cinza-escuro);
    cursor: pointer;
    box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.466);
}

main > .servico-container > #servicos > ul > li > span {
    font-weight: bold;
    color: var(--dourado);
    font-size: 1.1rem;
}

main > .servico-container > #servicos > ul > li > .icone-destaque > i {
    font-size: 7rem;
    color: var(--cinza-escuro);
}

main > #container-observacao {
    width: 100%;
    padding: 1rem 4rem;
    background-color: var(--azul-petroleo);
    margin-bottom: 3.5rem;
}

main > #container-observacao > p {
    font-size: 1.5rem;
    color: var(--branco);
}

main > #container-observacao > p > strong {
    color: var(--dourado);
}

main > #imagem-slide {
    width: 90%; 
    padding: 4rem 0; 
    overflow-x: hidden;
    margin: 2rem auto;
    box-shadow: inset 0 0.3rem 5rem 5px #000000b6;
}

main > #imagem-slide > h3 {
    text-align: center;
    font-size: 2rem;
    color: var(--dourado2);
    margin-bottom: 2rem;
}

main > #imagem-slide .swiper-slide {
    width: 15rem; 
    height: 15rem; 
    background-position: center; 
    background-size: cover;
    box-shadow: -2px 1rem 11rem 1rem #000000;
}

main > #imagem-slide .swiper-slide > img {
    display: block; 
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

main > .contacto-container {
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

main > .contacto-container > h3 {
    font-size: 2.5rem;
    color: var(--dourado2);
    margin-bottom: 0.5rem;
}
main > .contacto-container > p {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--branco);
}

main > .container-contactar {
    background-color: var(--cinza-escuro);
    padding: 2rem 4rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
}

main > .container-contactar > #info-contactar {
    width: 30rem;
}

main > .container-contactar > #info-contactar > h4 {
    font-size: 1.6rem;
    color: var(--branco);
    margin-bottom: 0.5rem;
}

main > .container-contactar > #info-contactar > p {
    color: var(--branco);
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1.7rem;
}

main > .container-contactar > #info-contactar > div > ul {
    list-style: none;
}

main > .container-contactar > #info-contactar > div > ul > li {
    background-color: #1e262b;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.37);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

main > .container-contactar > #info-contactar > div > ul > li > div {
    display: flex;
    gap: 0.1rem;
    flex-direction: column;
    color: var(--branco);
}

main > .container-contactar > #info-contactar > div > ul > li > div > .info {
    font-weight: bold;
}

main > .container-contactar > #info-contactar > div > ul > li > .fa-phone {
    color: var(--dourado2);
}

main > .container-contactar > #info-contactar > div > ul > li > .fa-location-dot {
    color: var(--dourado2);
}

main > .container-contactar > #info-contactar > div > ul > li > .fa-envelope {
    color: var(--dourado2);
}

main > .container-contactar > #info-contactar > div > ul > li > .fa-whatsapp {
    color: var(--dourado2);
    font-size: 1.1rem;
}

main > .container-contactar > #form-container {
    background-color: #1e262b;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.432);
}

main > .container-contactar > #form-container > form > h4 {
    font-size: 1.6rem;
    color: var(--branco);
    margin-bottom: 0.6rem;
}

main > .container-contactar > #form-container > form #primeiro-campo {
    display: flex;
    gap: 2rem;
}

main > .container-contactar > #form-container > form #primeiro-campo > .primeira-linha {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: var(--branco);
    margin-bottom: 1rem;
}

main > .container-contactar > #form-container > form #primeiro-campo > .primeira-linha > input {
    width: 16rem;
    border: 0.1rem solid var(--dourado);
    height: 1.7rem;
    border-radius: 0.3rem;
    outline-width: 2px;
    text-indent: 2px;
    font-weight: 600;
    padding: 0.9rem;
    background-color: #1e262b;
    color: var(--branco);
}

main > .container-contactar > #form-container > form #segunda-coluna {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: var(--branco);
    margin-bottom: 1rem;
}

main > .container-contactar > #form-container > form #segunda-coluna > input {
    border: 0.1rem solid var(--dourado);
    height: 1.7rem;
    border-radius: 0.3rem;
    text-indent: 2px;
    font-weight: 600;
    background-color: #1e262b;
    outline-width: 2px;
    padding: 0.9rem;
    color: var(--branco);
}

main > .container-contactar > #form-container > form #terceira-coluna {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--branco);
    margin-bottom: 1rem;
}

main > .container-contactar > #form-container > form #terceira-coluna > textarea {
    border: 0.1rem solid var(--dourado);
    height: 5rem;
    border-radius: 0.3rem;
    text-indent: 10px;
    font-weight: 600;
    padding: 0.5rem;
    background-color: #1e262b;
    color: var(--branco);
}

main > .container-contactar > #form-container > form button {
    padding: 0.4rem;
    width: 100%;
    border-radius: 0.3rem;
    background-color: var(--dourado2);
    color: #2F4F4F;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
    transition: .3s;
}

main > .container-contactar > #form-container > form button:hover {
    background-color: var(--dourado);
}

footer {
    width: 100%;
    background-color: #1e262b;
    padding: 1.5rem;
}

footer > #contaudo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

footer > #contaudo-footer > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer > #contaudo-footer > div > span {
    color: #868383;
}

footer h5 {
    color: #d3d0d0;
    font-size: 1.3rem;
}

footer > #contaudo-footer > div > div {
    display: flex;
    gap: 1rem;
    margin-top: 0.3rem;
}

footer > #contaudo-footer > div > div > .whatsapp {
    color: green;
}

footer > #contaudo-footer > div > div > .facebook {
    color: blue;
}

footer > #contaudo-footer > div > div > .instagram {
    color: orangered;
}

footer img {
    width: 18rem;
    height: 5rem;
    object-fit: cover;
    filter: grayscale(100%);
}

footer > hr {
    margin: 0.8rem 0;
}

footer > #copy-right {
    text-align: center;
    color: #868383;
    font-weight: bold;
    font-size: 1.1rem;
}

#contactar-agora {
    width: 3rem;
    height: 3rem;
    background-color: greenyellow;
    border-radius: 100%;
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.8rem 0.1rem rgba(0, 0, 0, 0.575);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 22;
}

#contactar-agora:hover {
    transform: scale(1.1);
}